.sign-up-container {
    color: #121212;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.sign-up-content {
    padding: 0px 10px;
}

.title {
    font-weight: 500;
    font-size: 28px;
}

.subtitle {
    font-size: 13px;
    margin-bottom: 25px;
}

.name-container {
    display: flex;
    gap: 10px;
}

.first-name-container {
    display: flex;
    flex-direction: column;
}

.last-name-container {
    display: flex;
    flex-direction: column;
}

.email-container {
    display: flex;
    flex-direction: column;
}

.password-container {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
}

.sign-up-container input[type="text"],
.sign-up-container input[type="email"],
.sign-up-container input[type="password"] {
    height: 30px;
    background-color: #FFFFFF; 
    border: 1px solid #333740; 
    padding: 5px 15px;
    margin: 5px 0px 20px 0px; 
    color: #121212;
    font-size: 16px;
}

.sign-up-container input[type="password"] {
    margin-bottom: 5px;
}

.sign-up-button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #121212;
    border: none;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding: 5px 0px;
    margin-bottom: 20px;
}

.sign-in-container {
    font-size: 11px;
    text-align: center;
}

.sign-in {
    color: #121212;
    cursor: pointer;
    font-weight: 700;
}