<div class="vote-container">
    <h2 class="title">Quel est le chat <span class="end-title">le plus mignon</span> ?</h2>
    <div class="subtitle">Offrez un câlin virtuel en votant pour votre chat préféré !</div>
    <div class="cat-container">
        <div class="cat-box-left left" *ngIf="cats.length > 0">
            <img [src]="cats[0].imageURL" alt="Image of a cat" (click)="voteForCat(cats[0].id)">
        </div>
        <div class="middle">ou</div>
        <div class="cat-box-right right">
            <img [src]="cats[1].imageURL" alt="Image of a cat" (click)="voteForCat(cats[1].id)">
        </div>
    </div>
</div>