.app-header {
    border-bottom: 1px solid black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier prime', sans-serif;
    font-size: 18px;
}

.left {
    margin-left: 80px;
    margin-top: 20px;
    color: #121212;
    align-self: flex-start;
    font-family: 'Slackey', cursive;
    font-size: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.end-title {
    color: #E38F5A;
}

.right {
    display: flex;
    align-items: center;
    height: 100%; 
    padding-left: 20px;
}

.vote, .ranking {
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0 35px; 
    border-left: 1px solid #121212;
    cursor: pointer;
    gap: 7px;
}

.vote img, .ranking img {
    width: 25px;
    height: auto;
}



.log-out {
    display: flex;
    align-items: center; 
    height: 100%; 
    cursor: pointer;
    padding: 0 35px;
    border-left: 1px solid #121212;
}

.vote:hover, .ranking:hover, .vote.active, .ranking.active {
    background-color: #FFE7BA;
}

.vote.active, .ranking.active {
    font-weight: 600;
}

@media (max-width: 768px) {
    .app-header {
        height: 60px;
    }

    .left {
        margin-top: 15px;
        margin-left: 25px;
    }

    .vote, .ranking, .log-out {
        padding: 0px 15px;
    }
}

@media (max-width: 490px) { 
    .app-header {
        height: 50px; 
        font-size: 16px; 
    }

    .left {
        margin-left: 15px;
        margin-top: 15px;
        font-size: 16px; 
    }

    .right {
        padding-left: 10px;
    }

    .vote, .ranking, .log-out {
        padding: 0 10px; 
        font-size: 14px; 
    }

    .vote img, .ranking img {
        width: 20px; 
    }
}