.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #FCEED5, #FFE7BA);
}

.favicon {
    width: 50px;
    animation: fadeInOut 2.5s infinite;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1;
    transform: scale(1.5);
   }
}
