.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #FCEED5, #FFE7BA);
}

.auth-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.left {
    flex: 1;
    
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex: 1;
    justify-content: space-between;
}

.router-outlet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.footer {
    text-align: center;
    color: #505050;
    font-size: 11px;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;

}

.general-terms {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .left {
        display: none;
    }
}
