.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #FCEED5, #FFE7BA);
}

.auth-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border: 1px solid black;
}

.left {
    flex: 1;
    padding: 15px 5px 15px 15px;
    
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    flex: 1;
}

.title {
    margin: 20px;
    color: #121212;
    align-self: flex-start;
    font-family: 'Slackey', cursive;
    font-size: 20px;
}

.end-title {
    color: #E38F5A;
}

.cat-emoji {
    font-size: 19px;
}

.plus {
    color: #528BFF;
}

.router-outlet-container {
    align-self: center;
}


.footer {
    align-self: flex-start;
    color: #505050;
    font-size: 11px;
    margin: 20px;
}

@media (max-width: 768px) {
    .left {
        display: none;
    }
}
